.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position:absolute;
  top:25%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title{
    position:absolute;
    top:57%;
}

.App-header {
  padding-top:0px;
  background-color: #086375;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hello_div{
    position:absolute;
    top:65%;
}
.hellobutton{
  display: inline-block;
  font-size: 32px;
  width: 300px;
  height: 48px;
  border-radius: 4px;
  margin-right: 24px;
  margin-left: 24px;
  color: #3C1642;
  background-color:#AFFC41;
  border: none;
  outline: none;
  box-shadow: 4px 10px　#ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  &:active{
      position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
  }
}

body{
    background-color:#393e46;
    padding-bottom:20px;
}

.contactbutton{
  display: inline-block;
  font-size: 32px;
  width: 300px;
  height: 48px;
  border-radius: 4px;
  margin-right: 24px;
  margin-left: 24px;
  color: #3C1642;
  background-color:#AFFC41;
  border: none;
  outline: none;
  box-shadow: 4px 10px　#ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:active{
      position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
  }
}

.introduction{
    font-size:30px;
    font-weight:bold;
    color:#FEFAE0

}

.skill{
    color:#9fe6a0;
    padding-left:50px;
    font-size:28px;
    padding-bottom:20px;
}

.contact_list{
    display:inline-block;
    list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon_image{
    font-size:5em;
    float:left;
    padding:20px;
 
}
.link_div{
    left:10%;
    top:180%;
    display:inline;
    position:absolute;
    p{
        font-size:50px;
        color:#9fe6a0;
        padding:-20px;
    }
    
}

.header_first{
    
  figure{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25%;
	margin: 0;
    pointer-events: none;
    img{
        	width: 100%;
	height: 100%;
    }
}
}

.bowimg{
    width: 70px;
    height:700px;
    position:absolute;
    top:200px;
    margin:0;
    left:15px;
    position:-webkit-sticky;
    
    
}

.arrows{
    position:relative;
    padding:0px;
    width:20%;
    height:20%;
    top:200px;
    animation: anim 2s forwards;
    
    @keyframes anim{
    0% {
        transform: translateY(-300px);
    }
    100% {transform: translateY(500px);
    }
}
}
.arrows_2{
    position:relative;
    padding:0px;
    width:20%;
    height:20%;
    animation: anim 2s forwards;
    
    @keyframes anim{
    0% {
        transform: translateY(-1000px);
    }
    100% {transform: translateY(200px);
    }
}
}
.contact_botton_div{
    top:10%;
}

.soil{
    bottom:0px;
    height:50px;
    width:100%;
    position:absolute;
    left:0px;
}

.targets{
    height:50px;
    width:100%;
    position:absolute;
    bottom:0px;
    left:0px;
}

.targets_div{
    position:absolute;
    
    height:200px;
    width:700px;
    bottom:-110px;
    left:0px;
}